#realBig {
  color: rgb(233, 250, 76);
  
}

#big {
  color:gold;
}

#normal {
color:rgb(255, 103, 47)
}

#small {
  color:red
}

h2 {
  color:chartreuse;
}

h3 {
  color:chartreuse;
}

h4 {
  color:chartreuse;
}

h5 {
  color:chartreuse;
}

h6 {
  color: chartreuse;
}

p {
  color: chartreuse;
}

body {
  text-align: center;
  background-color: black;
  background-image: url("../img/Chrono-Trigger.jpg");
}

#roboger {
  color:violet;

}
#robo0 {
  display: none;
}

#robo1 {
  display: none;
}

#robo2 {
  display: none;
}

#robo3 {
  display: none;
}

#robo4 {
  display: none;
}

#robo5 {
  display: none;
}

#robo6 {
  display: none;
}

#robo7 {
  display: none;
}

#robo8 {
  display: none;
}

#robo9 {
  display: none;
}

.clickHide {
  cursor: pointer;
  color: #00cc00;
}

.clickHide:hover {
  text-decoration: underline;

}
