#realBig {
  color: rgb(233, 250, 76);
  
}

#big {
  color:gold;
}

#normal {
color:rgb(255, 103, 47)
}

#small {
  color:red
}

h2 {
  color:chartreuse;
}

h3 {
  color:chartreuse;
}

h4 {
  color:chartreuse;
}

h5 {
  color:chartreuse;
}

h6 {
  color: chartreuse;
}

p {
  color: chartreuse;
}

body {
  text-align: center;
  background-color: black;
  background-image: url("../img/Chrono-Trigger.jpg");
}

#roboger {
  color:violet;

}